# Environment variables used by the frontend application.
# Used only for local development, production values are expected to be set by the host environment.

# Cloudflare Turnstile credentials, used for registration captcha.
# See https://developers.cloudflare.com/turnstile/

## Required to authenticate requests to the Turnstile API.
## Must match the "TURNSTILE_APP_ID" value in apps/api/.env.local.
## Expected format: "0xabcdefghijklmnopqrstuv"
VITE_TURNSTILE_SITE_KEY="3x00000000000000000000FF"

# Talk.js credentials, used for chat.
# See https://talkjs.com/dashboard/

## Required to authenticate with the Talk.js API.
## Must match the "TALKJS_APP_ID" value in apps/api/.env.local.
## Expected format: "abcdefgh"
VITE_TALKJS_APP_ID=""

# RevenueCat API keys, used for Apple and Google payments.
# See https://app.revenuecat.com/

## Required to authenticate with the RevenueCat API.
## Expected format: "platform_abcdefghijklmnopqrstuvwxyzz"
VITE_RC_APPL_PUBLIC_KEY=""
VITE_RC_GOOG_PUBLIC_KEY=""

# Sentry credentials, used for error reporting.
# See https://sentry.io/

## Required to authenticate with the Sentry API.
SENTRY_ORG=""
SENTRY_PROJECT=""

## Where we should send errors to, must be a valid Sentry DSN.
VITE_SENTRY_DSN=""

VITE_SENTRY_ORGANIZATION=""
VITE_SENTRY_PROJECT_ID=""

## The report URL for Content Security Policy violations.
VITE_SENTRY_REPORT_TO=""

# PostHog credentials, used for analytics.
VITE_POSTHOG_KEY=phc_eeITyb3sG02zsu52JLfLcCijOfSRSwTVjJ2ra7Rt9JZ
VITE_POSTHOG_HOST=https://us.i.posthog.com

# Cloudflare
# See https://developers.cloudflare.com/web-analytics/
VITE_CLOUDFLARE_BEACON_ID=""
CLOUDFLARE_INTERNAL_IDENTIFIER=""

# Canny credentials, used for feedback.
# See https://canny.io/

## Required to authenticate with the Canny API.
VITE_CANNY_APP_ID=640785c1023e50169ab5c94a

# Freshworks credentials, used for feedback.
# See https://developers.freshdesk.com/widget-api/

## Required to authenticate with the Freshworks API.
VITE_FRESHWORKS_WIDGET_ID=73000002566

# Profile picture bucket URLs.
VITE_BUCKET_CONTENT_ORIGIN=""
VITE_BUCKET_UPLOADS_ORIGIN=""

# Miscellaneous variables.
VITE_API_URL="https://127.0.0.1:4001/v1/"
VITE_ORIGIN="https://127.0.0.1:3000"
VITE_PICO_APP_ID=7aa1002e9d57599bb810a2b57c99db06
REACT_EDITOR=code
