# In case you use Node.js/npm, you want to ignore these.
npm-debug.log

node_modules
.next
.vercel
# Sentry Auth Token
.sentryclirc

# next dev --experimental-https
certificates

# eslint
.eslintcache
# Sentry Config File
.env.sentry-build-plugin
