@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  min-width: 0;
  -webkit-tap-highlight-color: transparent;
  user-drag: none;
  /* overscroll-behavior: none; */
}

* {
  /* @apply ja:not-italic ko:not-italic ru:not-italic; */
  @apply ja:not-italic;
}

*:not(input) {
  user-select: none;
}

*:not(.unhide-scrollbar) {
  scrollbar-width: none;
}

*:not(.unhide-scrollbar)::-webkit-scrollbar {
  @apply bg-transparent w-0
}

*[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

@layer components {
  .pettable {
    cursor: grab;
    user-select: none;
    transform-origin: bottom center;
    @apply transition-transform;
  }

  .pettable:active {
    cursor: grabbing;
    @apply scale-y-90 scale-x-110;
  }
}

body {
  /* Theme variables */
  --light-theme-1: #ff8975;
  --light-theme-2: #e9658b;

  --dark-theme-1: #b24592;
  --dark-theme-2: #e9658b;

  --friend-theme-1: #82bf72;
  --friend-theme-2: #4d8888;

  --arc-theme-1: var(--arc-background-gradient-color0, var(--arc-background-simple-color));
  --arc-theme-2: var(--arc-background-gradient-color1, var(--arc-background-simple-color));

  --brand-theme-1: var(--light-theme-1);
  --brand-theme-2: var(--light-theme-2);

  --theme-1: var(--arc-theme-1, var(--brand-theme-1));
  --theme-2: var(--arc-theme-2, var(--brand-theme-2));
}

body[data-theme="dark"] {
  --brand-theme-1: var(--dark-theme-1);
  --brand-theme-2: var(--dark-theme-2);
}

body[data-theme-style="friend"] {
  --theme-1: var(--friend-theme-1);
  --theme-2: var(--friend-theme-2);
}

iframe {
  user-select: none;
}

#freshworks-frame-wrapper>iframe {
  @apply p-[var(--safe-area-inset-top)_var(--safe-area-inset-right)_var(--safe-area-inset-bottom)_var(--safe-area-inset-left)];
}

#freshworks-frame-wrapper>iframe {
  background-image: linear-gradient(to bottom, var(--light-theme-2) 50%, #fff 50%);
}

img,
a {
  -webkit-touch-callout: none;
}
