<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= if assigns[:page_title] do %>
      <%= live_title_tag assigns[:page_title], suffix: " - Flirtual" %>
    <% else %>
      <%= live_title_tag "Flirtual" %>
    <% end %>
    <meta name="description" content="Meet new people in Virtual Reality! Flirtual helps you go on dates in VR and VRChat. Formerly VRLFP.">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#e9658b">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Flirtual">
    <meta name="application-name" content="Flirtual">
    <meta name="msapplication-TileColor" content="#e9658b">
    <meta name="theme-color" content="#e9658b">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta property="og:url" content={FlirtualWeb.Endpoint.url()} />
    <meta name="twitter:site" content="@getflirtual" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Flirtual" />
    <meta property="og:description" content="The first and largest VR dating app. Join thousands for dates in VR apps like VRChat." />
    <meta property="og:image" content={"#{FlirtualWeb.Endpoint.url()}/images/android-chrome-512x512.png"} />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:width" content="512" />
    <meta name="twitter:card" content="summary" />
    <%= csrf_meta_tag() %>
    <link rel="stylesheet" href="/assets/index.css"/>
    <script type="module" src="/assets/index.js"></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
