<!DOCTYPE html>
<html lang="en">
  <head>
    <%= if assigns[:page_title] do %>
      <%= live_title_tag assigns[:page_title], suffix: " - Flirtual" %>
    <% else %>
      <%= live_title_tag "Flirtual" %>
    <% end %>

    <meta name="description" content="Meet new people in Virtual Reality! Flirtual helps you go on dates in VR and VRChat. Formerly VRLFP.">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=600, user-scalable=no"/>

    <meta name="apple-mobile-web-app-title" content="Flirtual">
    <meta name="application-name" content="Flirtual">
    <meta name="msapplication-TileColor" content="#e9658b">
    <meta name="theme-color" content="#e9658b">

    <%= csrf_meta_tag() %>
    <script src="https://unpkg.com/@uploadcare/blocks@0.11.0/web/lr-img.min.js" type="module"></script>
    <style>
      lr-img {
        --lr-img-pubkey: '130267e8346d9a7e9bea';
      }
    </style>
    <link rel="stylesheet" href="/assets/tailwind.css"/>
    <script src="/assets/app.js"></script>
  </head>
  <body>
    
    <%= @inner_content %>

    
  </body>
</html>
