<div class="min-h-screen flex flex-col overflow-x-hidden text-black grow bg-brand-cream">
	<.header/>
	<div class="flex items-center justify-center py-16 px-4 sm:py-32 md:px-32">
		<%= @inner_content %>
	</div>
	<.footer/>
</div>