<div class="min-h-screen flex flex-col overflow-x-hidden text-white bg-black">
	<div class="flex items-center justify-center py-16 px-4 sm:py-32 md:px-32 text-black grow bg-brand-cream">
		<%= @inner_content %>
	</div>
	<.footer/>
</div>