@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*::-webkit-scrollbar {
  @apply bg-transparent w-0
}

* {
  scrollbar-width: none;
}

*[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

html {
  --gradient-l: #ff8975;
  --gradient-r: #e9658b;
}

html.dark {
  --gradient-l: #b24592;
  --gradient-r: #e9658b;
}

html.friend-mode {
  --gradient-l: #82bf72;
  --gradient-r: #4d8888;
}