@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*::-webkit-scrollbar {
  @apply bg-transparent w-0
}

* {
  scrollbar-width: none;
}

*[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

html {
  --gradient-l: var(--arc-background-gradient-color0, var(--arc-background-simple-color, #ff8975));
  --gradient-r: var(--arc-background-gradient-color1, var(--arc-background-simple-color, #e9658b));
}

html.dark {
  --gradient-l: var(--arc-background-gradient-color0, var(--arc-background-simple-color, #b24592));
  --gradient-r: var(--arc-background-gradient-color1, var(--arc-background-simple-color, #e9658b));
}

html.friend-mode {
  --gradient-l: #82bf72;
  --gradient-r: #4d8888;
}