@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*::-webkit-scrollbar {
  @apply bg-transparent w-0
}

* {
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

*[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

:root {
  /* Theme variables */
  --light-theme-1: #ff8975;
  --light-theme-2: #e9658b;

  --dark-theme-1: #b24592;
  --dark-theme-2: #e9658b;

  --friend-theme-1: #82bf72;
  --friend-theme-2: #4d8888;

  --arc-theme-1: var(--arc-background-gradient-color0, var(--arc-background-simple-color));
  --arc-theme-2: var(--arc-background-gradient-color1, var(--arc-background-simple-color));

  --brand-theme-1: var(--light-theme-1);
  --brand-theme-2: var(--light-theme-2);

  &[data-theme="dark"] {
    --brand-theme-1: var(--dark-theme-1);
    --brand-theme-2: var(--dark-theme-2);
  }

  --theme-1: var(--arc-theme-1, var(--brand-theme-1));
  --theme-2: var(--arc-theme-2, var(--brand-theme-2));

  &[data-theme-style="friend"] {
    --theme-1: var(--friend-theme-1);
    --theme-2: var(--friend-theme-2);
  }
}

iframe {
  user-select: none;
}

#canny-changelog-iframe {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

#freshworks-frame-wrapper>iframe {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background-image: linear-gradient(to bottom, var(--light-theme-2) 50%, #fff 50%);
}

img,
a {
  -webkit-touch-callout: none;
}