# fly.toml app configuration file generated for flirtual on 2023-04-25T12:29:37-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "flirtual"
primary_region = "iad"
kill_signal = "SIGTERM"
kill_timeout = 5

[experimental]
  auto_rollback = true

[deploy]
  release_command = "/app/bin/migrate"

[[services]]
  protocol = "tcp"
  internal_port = 4000
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
    [services.ports.http_options]
      h2_backend = true

  [services.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000

  [[services.http_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0
    method = "get"
    path = "/v1/health"
    protocol = "http"
    [services.http_checks.headers]
      X-Forwarded-Proto = "https"
